body {
    background-image: url(bg.jpg);
}

h1, p, a {
    color: #fff;
    font-size: 12px;
}

.content {
    margin: 0px;
    display: none;
    height: 120px;
}

.circle {
    border-radius: 50%;
    width: 66px;
    height: 66px;
    margin-top: 66px;
}

.center {
    text-align: center;
}